.navbar{
  height: 100%;
  width: auto;
  background: #ffffff;
  height: auto;
  margin: 0;
  position: relative;
}

.navbar-navigation{
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.hamburger {
  display: none;
}

@media (max-width: 768px) {

  .navbar-nav-items {
    display: none;
  }

  .hamburger {
    display: flex;
    justify-content: flex-end;
  }
}
